.Home {
  width: 100vw;
  height:100vh;
}


.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14%;
  width: 85vw;
  margin-top: 8%;
}


.me {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 16px;
  align-items: center;

}

.me h1{
  font-size: 30px;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px #ffffff;
  border-radius: 50%;
  height: 370px;
  width: 370px;
  margin-left: 12%;
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("../assets/ProfilePhoto1.jpeg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.say-hello{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  width: 180px;
  height: 70px;
  font-size: 20px;
  color: white;
  border: 2px solid #64ffda;
  border-radius: 10px;
  cursor: pointer;
  transition: color 1s ease-in-out;
  margin-top: 18px;
}

@media (max-width: 1022.5px) {
  .home-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7em;
    margin-left: 14%;
  }

  .me{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .profile-picture {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    margin-left: 0;
  }
  .me h1 {
    font-size: 27px;
}
}

@media (max-width: 800.5px) {
  .home-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .profile-picture {
    width: 290px;
    height: 290px;
    margin-left: 0;
    background-color: black;
  }

  .me{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 6%;
  }
  .me h1{
    font-size: 25px;
  }

}



@media (max-width:487.5px){
  .home-container {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0%;
    margin-top: 84px;
  }
  .profile-picture {
    width: 250px;
    height: 250px;
    margin-left: 0;
    margin-top: -12%;
    background-color: black;
  }
  .me h1{
    font-size: 22px;
  }
}
