.About {
  width: 100vw;
  height: 92vh;
  /* background-color: violet; */
  /* margin-top: -2px; */
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 2%;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.about-detail {
  display: flex;
  justify-content: space-around;
}

.about-image {
  width: 20em;
  height: 20em;
  background-size: cover;
  border-radius: 12%;
  background-image: url("../assets/ProfilePhoto1.jpeg");
}

.about {
  display: flex;
  flex-direction: column;
  width: 53%;
  margin-right: 5%;
  gap: 10%;
}

.ecs-detail {
  display: flex;
  justify-content: space-between;
}

.ecs {
  border: 1px solid #64ffda;
  border-radius: 7px;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 107px;
  padding-top: 18px;
  font-size: 17px;
  font-weight: bold;
}

.ecs > span {
  font-size: 12px;
}

.svg {
  width: 30px;
  height: 30px;
}

.highlighted-btn {
  margin: 0 0 0 28px;
}

.highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: #64ffda;
  color: #64ffda;
}

.download-button {
  width: 200px;
  height: 70px;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  background-color: black;
  border: 2px solid #64ffda;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: color 1s ease-in-out;
}

.download-button:hover {
  color: black;
  transition: all 1s ease-in-out;
}

.download-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #64ffda;
  border-radius: 5px;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: all 1s ease-in-out;
}

.download-button:hover::before {
  width: 100%;
  transition: all 1s ease-in-out;
}

@media (max-width: 1045.5px) {
  .about {
    font-size: 15px;
  }
  .about-image {
    width: 16em;
    height: 16em;
  }

  .ecs {
    width: 148px;
    display: flex;
    height: 107px;
    font-size: 17px;
  }
  .ecs > span {
    font-size: 11px;
  }
  .download-button {
    width: 157px;
    height: 66px;
    font-size: 15px;
  }
}

@media (max-width: 871.5px) {
  .About {
    height: 100%;
  }
  .introduction {
    margin-bottom: 13%;
  }

  .about-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }

  .about-image {
    width: 20em;
    height: 22em;
  }

  .about {
    font-size: 17px;
    margin-bottom: 4em;
    width: 75%;
    gap: 44px;
  }

  .ecs {
    width: 166px;
    display: flex;
    height: 111px;
    font-size: 17px;
  }

  .ecs > span {
    font-size: 12px;
  }

  .download-button {
    width: 200px;
    height: 70px;
    font-size: 17px;
  }
}

@media (max-width: 681.5px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ecs-detail {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .ecs {
    width: 225px;
    display: flex;
    height: 121px;
  }
}

@media (max-width: 487.5px) {
  .About {
    margin-left: 0%;
    width: 100vw;
  }
}
