.About{
    width: 100vw;
  height: 100vh;
  /* background-color: violet; */
  margin-top: -2px;
}


.about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 2%;
}


.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.about-detail{
    display: flex;
    justify-content: space-between;
}


.about-image{
    width: 20em;
    height: 20em;
    background-size: cover;
    border-radius: 12%;
    background-image: url("../assets/ProfilePhoto1.jpeg");
}


.hihlighted-btn{
    margin:  0 0 0 28px;
}

.hihlighted-btn:hover{
    margin:  0 0 0 28px;
    background-color: cornsilk;
    color: #111;
}

.download-button{
    /* display: flex; */
    width: 200px;
    height: 70px;
    font-size: 24px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    color: white;
    background-color: black;
    border: 4px solid black;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: color 1s ease-in-out;
}

.download-button:hover{
    color: black;
    transition: all 1s ease-in-out;
}

.download-button::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all 1s ease-in-out;
}


.download-button:hover::before{
    width: 100%;
    transition: all 1s ease-in-out;
}



@media (max-width:487.5px){
    .About{
      margin-left: 0%;
      width: 100vw;
    }
  }