@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

.Navbar {
  width: 100%;
  height: 60px;
  background-color: #0a192fd9;
}

nav {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  padding: 1em 6em 1em 6em;
  border-bottom: thick double #e7eff2;
}

/* .logo{
  margin-left: 35px;
} */

.brand {
  /* font-family: "Pattaya", sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  color: #ccd6f6;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  /* width: 40em;
  display: flex;
  justify-content: space-between;
  margin-left: 35%; */
  width: 44em;
    display: flex;
    justify-content: space-between;
    margin-left: 27%;
}

.nav-menu-lists{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  /* gap: 21%; */
  /* flex-wrap: wrap; */
}


.nav-link{
  color: #ccd6f6;
}





.nav-menu > a {
  color: #ccd6f6;
}

.icon {
  margin-left: 4%;
}

.resizedPart {
  width: 100%;
  height: 10vh;
  display: flex;
}


/* .dark{
  background-color: black;
  color: white;
}

.dark  .nav-menu > a {
  color: white;
} */


@media (max-width: 895.5px) {
  .nav-menu {
    margin-left: 21%;
  }
  nav {
    padding: 1em 3em 1em 3em;
  }
  .nav-menu a {
    font-size: 14px;
  }
}

@media (max-width: 663.5px) {
  .nav-menu {
    margin-left: 14%;
  }
  .brand {
    font-size: 18px;
    margin-top: 0%;
    margin-left: 2%;
  }
  .nav-menu a{
    font-size: 12px;
  }

  nav {
    padding: 1em 2em 1em 1em;
  }
}


@media (max-width: 478.5px) {
  .brand {
    padding: 1em 1em 0.5em 2em !important;
    z-index: 2;
  }

  .nav {
    border-bottom: none;
  }

  .icon {
    position: absolute;
    top: 18px;
    right: 70px;
    z-index: 2;
  }
}
