@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body{
  /* font-family: 'Poppins', sans-serif; */
  color: #ccd6f6;
  font-family: 'Courier New';
  overflow: hidden;
  background-color: #0a192f;
}

